        <div class='card'>
          <div class='card-header'>
         {{ title }}
          </div>
          <div class='card-body'>
            <div class="row">
              <div class='col-md-2'>Filter by:</div>
              <div class='col-md-4'>
                <input type='text'
                 [(ngModel)]='listFilter'/>
              </div>
            </div>
            <div class='row'
        >
      <div class='col-md-6'>
        <h4>Filtered by: {{ listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive' >
      <table class='table' *ngIf='products && products.length'
            >
        <thead>
          <tr>
            <th>
              <!--<button class='btn btn-primary' (click)='onClickBtn()'>{{btnText()}}</button>-->   
              <button class='btn btn-primary' (click)='onClickBtn()'>{{click ? 'Hide ' :'Show '  }}Image</button>                
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Product of filtredListProduct">
                <td><img *ngIf="click" [src]='Product.imageUrl' [title]='Product.productName' [style.width.px]="imageWidh" [style.height.px]="imageHeight" [style.margin.px]="imageMargin"></td>
               <td> <a [routerLink]="['/listComponent',Product.productId]">{{Product.productName}}</a></td>
                <td>{{Product.productCode |convertToSpace:'-'}}</td>
                <td>{{Product.releaseDate}}</td>
                <td>{{Product.price | currency}} </td>
                <td><star-pm [rating]="Product.starRating"
                  (ratingClicked)="onRaitingClicked($event)"></star-pm></td>    
              </tr>
             
            </tbody>
      </table>
      </div>
      </div>
      </div>
      
